<div class="open-weather-container" *ngIf="weatherData">
  <p class="city-name">{{cityName}}</p>
  <div class="weather-by-date-container" *ngFor="let dateWeather of weatherData">
    <p class="date">{{dateWeather.date}}</p>
    <div class="weather-item" *ngFor="let weatherItemInfo of dateWeather.info">
      <div class="temperature">
        <p class="temperature-text">{{convertKelvinToFahrenheit(weatherItemInfo.main.temp_max)}}</p>
        <p class="temperature-text">{{convertKelvinToFahrenheit(weatherItemInfo.main.temp_min)}}</p>
      </div>
      <div class="weather-image" [ngClass]="getWeatherClass(weatherItemInfo.weather[0].id)">&nbsp;</div>
      <p class="time">{{sliceTimeFromDateString(weatherItemInfo.dt_txt)}}</p>
    </div>
  </div>
</div>

<div class="loader" *ngIf="!weatherData">
  <svg viewBox="0 0 32 32" width="64" height="64" *ngIf="!isFormValidating">
    <circle class="spinner" cx="16" cy="16" r="14" fill="none"></circle>
  </svg>
</div>