<header>
  <ul (click)="reloadPage()">
    <li class="w-letter column-direction">
      <div>&nbsp;</div>
      <div>W</div>
    </li>
    <li class="e-letter">
      <div>&nbsp;</div>
      <div>E</div>
    </li>
    <li class="a-letter column-direction">
      <div>&nbsp;</div>
      <div>A</div>
    </li>
    <li class="t-letter">
      <div>&nbsp;</div>
      <div>T</div>
    </li>
    <li class="h-letter column-direction">
      <div>&nbsp;</div>
      <div>H</div>
    </li>
    <li class="e-letter">
      <div>&nbsp;</div>
      <div>E</div>
    </li>
    <li class="r-letter column-direction">
      <div>&nbsp;</div>
      <div>R</div>
    </li>
  </ul>
  <div class="add-button" (click)="toggleCityForm()" *ngIf="!isOpenWeather"><i class="material-icons">{{ showCityForm || activateCancelButton ? 'cancel' : 'add_circle_outline' }}</i></div>
</header>
<div class="toggle-weather-api" (click)="toggleWeatherApi()">
  <div class="open-weather-api" [ngClass]="{'disabled': isOpenWeather}">Open Weather</div>
  <div class="yahoo-weather-api" [ngClass]="{'disabled': !isOpenWeather}">Yahoo Weather</div>
</div>
<section class="content-container" *ngIf="showCityForm">
  <div class="add-city-form">
    <input placeholder="Enter City Name" [(ngModel)]="cityNameModel" (keyup.enter)="validateForm()">
    <div class="loader">
      <i class="material-icons next" *ngIf="!isFormValidating" (click)="validateForm()">keyboard_arrow_right</i>
      <svg viewBox="0 0 32 32" width="32" height="32" *ngIf="isFormValidating">
        <circle class="spinner" cx="16" cy="16" r="14" fill="none"></circle>
      </svg>
    </div>
  </div>
</section>
<section class="content-container" [hidden]="showCityForm">
  <router-outlet></router-outlet>
</section>

<wd-toast></wd-toast>